# تجاهل مجلد node_modules لأن حجمه كبير ويعاد إنشاؤه تلقائيًا
node_modules/

# تجاهل الملفات المؤقتة
*.log

# تجاهل ملفات البيئة إن وجدت (مثل بيانات الاتصال بقاعدة البيانات)
.env

# تجاهل ملفات النظام الخاصة بالمحررات
.DS_Store
.vscode/
.idea/
